<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8" />
      <title>{% block title %}Welcome!{% endblock %}</title>
      {% block stylesheets %}{% endblock %}
      <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
      <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css">
      <link rel="stylesheet" type="text/css" href="{{ asset('Datatables/datatables.min.css') }}"/>
      <script type="text/javascript" src="{{ asset('js/jquery-3.1.0.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('Datatables/datatables.min.js') }}"></script>
      <script>

      // initialization and configuration
      $(document).ready( function () {
          $('#tabellautenti').dataTable( {
              "fixedHeader": true,
              "lengthMenu": [ 500, 200, 100, 75, 50, 25, 10, 1000 ]
              //"info":     false, // remove header and footer
              //"ordering": false,
              //"bPaginate": false,
              //"sDom": 'T<"clear">lfrtip'
        } ); // end dataTable
      } ); // end ready function
      // END initialization and configuration

      // initialization and configuration
      $(document).ready( function () {
          $('#tabellaprestiti').dataTable( {
              "fixedHeader": true,
              "lengthMenu": [ 500, 200, 100, 75, 50, 25, 10, 1000 ]
              //"info":     false, // remove header and footer
              //"ordering": false,
              //"bPaginate": false,
              //"sDom": 'T<"clear">lfrtip'
        } ); // end dataTable
      } ); // end ready function
      // END initialization and configuration

      </script>

    </head>
    <body>
      <!-- <body bgcolor="#fff0c9"> -->
      <!-- background="{{ asset('images/book-480_240-bw.png')}}" > -->
     <a href="{{ path('homepage') }}">
       <img src="{{ asset('images/logo_csel.jpg') }}"
           alt="Logo Centro Studi Ettore Luccini"
           height="127" width="150"
           style="margin-left:20px;margin-right:20px;margin-top:20px;margin-bottom:20px;float:left">
        </a>

     <a href="{{ path('homepage') }}">
       <img src="{{ asset('images/logo-irma.png') }}"
           alt="Logo IRMA"
           height="80" width="165"
           style="margin-left:20px;margin-right:20px;margin-top:20px;margin-bottom:20px;float:left">
        </a>

     <div style="clear:both"></div>

        <!-- <a href="{{ path('homepage') }}" class="button" style="width:23%">INIZIO</a> --> 
      <!--
      <div style="text-align: right">
	<a href="{{ logout_path('main') }}">Logout</a>
      </div>
      -->
      <hr>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
      <hr>
        <a href="http://bibliotecadigitale.cab.unipd.it/" target="_blank">
	  Catalogo biliotecario dell'Universit&agrave; di Padova</a>
      <hr>
      <center>
        IRMA - Indice Restituzioni Materiale Allocato - <a href="{{ path('utilityhomepage') }}">stat</a>
	<!-- Indice/Inventario Restituzioni Materiale Allocato -->
      </center>
    </body>
</html>
