{% extends 'base.html.twig' %}

{% block body %}

  <a href="{{ path('prestitorestituito', {'id': prestito.id}) }}" class="button" style="width:46%">RESTITUITO</a> 

  <a href="{{ path('prestitoprolungato', {'id': prestito.id}) }}" class="button" style="width:46%">PROLUNGATO</a> 


{{ form_start(form) }}

<table>
  <tr>
    <td> Protocollo: </td>
    <td> {{ form_widget(attribute(form, "protocollo"), { 'value': prestito.protocollo, 'attr': {'size': '60'} }) }} </td>  </tr>
  <tr>
    <td> Titolo1: </td>
    <td>{{ form_widget(attribute(form, "titolo1"), { 'value': prestito.titolo1, 'attr': {'size': '60'} }) }} </td>
  </tr>
  <tr>
    <td> Titolo2: </td>
    <td>{{ form_widget(attribute(form, "titolo2"), { 'value': prestito.titolo2, 'attr': {'size': '60'} }) }} </td>
  </tr>
  <tr>
    <td> Collocazione: </td>
    <td>{{ form_widget(attribute(form, "collocazione"), { 'value': prestito.collocazione, 'attr': {'size': '60'} }) }} </td>
  </tr>
  <tr>
    <td> Note: </td>
    <td>{{ form_widget(attribute(form, "note"), { 'value': prestito.note, 'attr': {'size': '60'} }) }} </td>
  </tr>
  <tr>
    <td> Proroga: </td>
    <td>{{ form_widget(attribute(form, "richiestaProroga"), { 'value': prestito.richiestaProroga, 'attr': {'size': '60'} }) }} </td>
  </tr>

</table>

<input type="submit" value="SALVA" class='button' style='width: 23%; font-size: 20px;'/>

{{ form_end(form) }}

{% endblock %}
