{% extends 'base.html.twig' %}

{% block body %}

Elenco prestiti.

<br>

<table id="tabellaprestiti">
  <thead>
    <tr>
      <td></td>
      <td></td>
      <td>Protocollo</td>
      <td>Titolo1</td>
      <td>Titolo2</td>
      <td>Collocazione</td>
      <td>Data Prestito</td>
      <td>Data Restituzione</td>
      <td>Richiesta Proroga</td>
      <td>Note</td>
      <td>Utente</td>
    </tr>
  </thead>
  <tbody>
    {% for prestito in prestiti %}
    <tr>

      <td><a href="{{ path('prestitorestituito', {'id': prestito.id}) }}" class="button" onclick='return confirm("Sei sicuro di voler restituire il prestito?")'>RESTITUITO</a> </td>
      <td><a href="{{ path('prestitoprolungato', {'id': prestito.id}) }}" class="button" onclick='return confirm("Sei sicuro di voler rinnovare il prestito?")'>RINNOVA</a></td>
      <td> <a href ="{{ path('editprestito', {'id': prestito.id, 'username': prestito.utente }) }}"> {{ prestito.protocollo }} </a> </td>
      <td> {{ prestito.titolo1 }} </td>
      <td> {{ prestito.titolo2 }} </td>
      <td> {{ prestito.collocazione }} </td>
      <td> {{ prestito.dataPrestito|date('d/m/Y') }} </td>
      <td> {% if prestito.dataRestituzione %} {{ prestito.dataRestituzione|date('d/m/Y') }} {% endif %} </td>
      <td> {{ prestito.richiestaProroga }} </td>
      <td> {{ prestito.note }} </td>
      <td> <a href ="{{ path('editutente', {'username': prestito.utente }) }}"> {{ prestito.utente }} </a> </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if isUtility %}
<a href="{{ path('esportalistaprestiti') }}" class="button" style="width:100%">Esporta lista prestiti</a>
{% endif %}

{% endblock %}
